{% extends "base.html" %}
{% load static %}

{% block title %}{{ category.name }} Products{% endblock %}

{% block content %}
<main>
  <h2 style="text-align: center;">{{ category.name }} Products</h2>

  <div class="container py-5">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {% for product in products %}
      <div class="col">
        <div class="card shadow-sm">
          <a href="{% url 'store:product_detail' product.slug %}">
            <img src="{{ product.image.url }}" class="card-img-top custom-image-size" alt="{{ product.title }}">
          </a>
          <div class="card-body">
            <p class="card-text">{{ product.title }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock %}
